.contenedor{
    /*border: 1px solid black;*/
    width: auto;
    height: 200%;
    margin: 20px;
    padding: 25px;
    display: block;
    text-align: center;
}

.formulario{
    border: 1px solid gray;
    box-shadow: 0px 0px 2px .5px black;
    border-radius: 25px;
    width: 600px;
    margin: 20px 0px;
	padding: 20px;
    display: inline-block;
}

.formulario input{
    margin: 12px;
}

.formulario textarea{
   resize: none;
}

.formulario button{
    margin: 10px;
    padding: 7px;
    /*border-radius: 20px;*/
}

.formulario button:hover{
    color: black;
    background: #EBF5FB;
}

.tablaRerapaciones{
    border: 1px solid gray;
    box-shadow: 0px 0px 2px .5px black;
    border-radius: 25px;
    width: 950px;
	margin: 20px 0px;
	padding: 20px;
    float: right;
}

.tablaRerapaciones table{
    width: 100%;
}